@model IEnumerable<ShortUrl>
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Mini Url's</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="UserUrls" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; New
            </a>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="mx-auto table table-striped text-center">
            <thead>
                <tr>
                    <th>
                        MiniUrl
                    </th>
                    <th>
                        Orignal Url
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var shortUrl in Model)
                {
                    <tr class="table-active">
                        <td width="40%">
                            @shortUrl.Key
                        </td>
                        <td width="40%">
                            @shortUrl.Url
                        </td>
                        <td width="5%" class="text-center">                       
                            <a asp-controller="UserUrls" asp-action="Edit" asp-route-key="@shortUrl.Key" class="btn btn-secondary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>  
                        </td>
                        <td width="5%" class="text-center">
                            <partial name="_DeletePartial" model="shortUrl" view-data="ViewData" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>