@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<ShortUrl>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Mini Url's</h2>
        </div>
        <div class="col-6 text-end">
            <partial name="_CreateShortUrl" model="new CreateShortUrlViewModel()" view-data="ViewData" />
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="mx-auto table table-striped text-center">
            <thead>
                <tr>
                    <th>
                        MiniUrl
                    </th>
                    <th>
                        Orignal Url
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var shortUrl in Model)
                {
                    <tr class="table-active">
                        <td width="40%">
                            @shortUrl.Key
                        </td>
                        <td width="40%">
                            @shortUrl.Url
                        </td>
                        <td width="5%" class="text-center">                       
                            <partial name="_EditShortUrl" model="new EditShortUrlViewModel() { Key = shortUrl.Key, Url = shortUrl.Url }" view-data="ViewData" />     
                        </td>
                        <td width="5%" class="text-center">
                            <partial name="_DeleteShortUrl" model="shortUrl" view-data="ViewData" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>