html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    background-color: #F5F7FB;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    padding-bottom: 100px;
    background-color: #F5F7FB !important;
    min-height: 100%;
}

.table-responsive .dropdown,
.table-responsive .btn-group,
.table-responsive .btn-group-vertical {
    position: static;
}

.chip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    margin-right: 1rem;
    font-size: 13px;
    font-weight: 500;
    color: rgb(0, 0, 0, .6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    transition: opacity .3s linear;
    word-wrap: break-word;
    text-transform: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chip .chip:hover {
    box-shadow: none;
}

.chip-outline {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip .chip-md {
    height: 42px;
    border-radius: 21px;
}

.chip .chip-lg {
    height: 52px;
    border-radius: 26px;
}

.chip .close {
    float: right;
    padding-left: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity .15s linear;
    opacity: .53;
}