@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h1>@ViewData["Title"].</h1>
<p class="text-success">@TempData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="ChangePassword">Change</a>&nbsp;&nbsp;]</text>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="SetPassword">Create</a>&nbsp;&nbsp;]</text>
            }
        </dd>
        <dt>Authentication App:</dt>
        <dd>
            @if (Model.AuthenticatorKey == null)
            {
                <form asp-controller="Manage" asp-action="ResetAuthenticatorKey" method="post" class="form-horizontal" role="form">
                    Generate [<button type="submit" class="btn-link">Generate</button>]
                </form>
            }
            else
            {
                <text>Your key is: @Model.AuthenticatorKey</text>
                <form asp-controller="Manage" asp-action="GenerateRecoveryCode" method="post" class="form-horizontal" role="form">
                    Generate [<button type="submit" class="btn-link">Generate new recovery codes</button>]
                </form>
            }
        </dd>
    </dl>
</div>
