@model ShortUrl

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@($"#edit{Model.Key}Modal")>Edit</button>

<div class="modal fade" id=@($"edit{Model.Key}Modal") tabindex="-1" role="dialog" aria-labelledby=@($"edit{Model.Key}ModalLabel") aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Edit" asp-controller="Urls">
                <div class="model-body">
                    <div class="mb-3">
                        <label class="form-label">Shortened Url Name</label>
                        <input type="text" name="key" class="form-control" placeholder=@Model.Key disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Original Url to Shorten</label>
                        <input type="text" name="url" class="form-control" placeholder=@Model.Url>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
