@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<ShortUrl>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage</h1>

<partial name="_CreateShortUrl" view-data="ViewData" />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ShortUrl Key
            </th>
            <th>
                ShortUrl Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var shortUrl in Model)
        {
            <tr>
                <td width="30%">
                    @shortUrl.Key
                </td>
                <td width="40%">
                    @shortUrl.Url
                </td>
            </tr>
        }
    </tbody>
</table>