@model ShortUrlViewModel

<a data-bs-toggle="modal" data-bs-target=@($"#delete{Model.Key}Modal") class="btn btn-danger btn-sm">
    <i class="bi bi-trash"></i>
</a>

<div class="modal fade" id=@($"delete{Model.Key}Modal") tabindex="-1" role="dialog" aria-labelledby=@($"delete{Model.Key}ModalLabel") aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-area="User" asp-controller="Urls" asp-action="Delete">
                <div class="model-body mt-3">
                    <h5 class="modal-title">Are you sure you want to delete "@Model.Key"?</h5>
                    <input name="key" type="hidden" value=@Model.Key />
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>